<div class="col-md-12 col-xs-12">
  <div class="modal fade" id="orderStatus" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Order Status</h4>
        </div>
        <div class="modal-body">
         <%= form_for(@order_status, remote: true) do |ttt| %>
          <div class="form-group">
            <label>Name</label>
              <%=ttt.text_field :status,:class=>"form-control"%>
          </div>
            <%=ttt.submit "Submit", :class=>"btn btn-info"%>
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%end%>
        </div>
        <div class="modal-footer text-center">
        </div>
      </div>
    </div>
  </div>
</div>