<div class="col-md-12 col-xs-12">
  <div class="modal fade" id="orderPayment" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Order payment</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@payment_term, remote: true) do  |pt| %>
          <div class="form-group">
            <label>Name</label>
            <%=pt.text_field :name, :class=>"form-control",required: true%>
          </div>
         <%= pt.submit "Submit", :class=>"btn btn-info"%>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         <%end%>
        </div>
        <div class="modal-footer text-center"> 
        </div>
      </div>
    </div>
  </div>
</div>