.content-wrapper
	.container-fluid
		.row
			.col-md-6
				.panel.panel-info
					.panel-heading.text-center
						User preference Edit
					.panel-body.orders-general-info
						.content
							=render "user_preference_groups/form"