
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">edit Page</li>
    </ol>
    <div class="row">
      <div class="col-12">
       <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
