<div class="content">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="inputAddress 1">Address 1</label>
                    <span class="required_field">*</span>
                    <input type="text" class="form-control" placeholder="Address 1" id="inputAddress1" required="" />
                </div>
                <div class="col-md-4">
                    <label for="inputType">Address 2</label>
                    <input type="text" class="form-control" placeholder="Address 2" id="inputAddress2" />
                </div>
                <div class="col-md-4">
                    <label for="inputCountry">Country</label>
                    <span class="required_field">*</span>
                    <input type="text" class="form-control" placeholder="Country Terms" id="inputCountry"  required="" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="inputCity">State</label>
                    <span class="required_field">*</span>
                    <input type="text" class="form-control" placeholder="State" id="inputState" required="" />
                </div>
                <div class="col-md-4">
                    <label for="inputCountry Terms">City</label>
                    <span class="required_field">*</span>
                    <input type="text" class="form-control" placeholder="City" id="inputCity" required="" />
                </div>
                <div class="col-md-4">
                    <label for="inputPhone">Phone</label>
                    <span class="required_field">*</span>
                    <input type="text" class="form-control" placeholder="Phone" id="inputPhone" required="" />
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="inputPhone">Email</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control" placeholder="Email" id="inputemail" required="" />
            </div>
        </div>
</div>