<div class="content">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="inputAddress 1">Address 1</label>
                    <input type="text" class="form-control" placeholder="Address 1" id="inputAddress1" disabled="disabled"/>
                </div>
                <div class="col-md-4">
                    <label for="inputType">Address 2</label>
                    <input type="text" class="form-control" placeholder="Address 2" id="inputAddress2" disabled="disabled"/>
                </div>
                <div class="col-md-4">
                    <label for="inputCountry">Country</label>
                    <input type="text" class="form-control" placeholder="Country Terms" id="inputCountry" disabled="disabled"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="inputCity">State</label>
                    <input type="text" class="form-control" placeholder="State" id="inputState" disabled="disabled"/>
                </div>
                <div class="col-md-4">
                    <label for="inputCountry Terms">City</label>
                    <input type="text" class="form-control" placeholder="City" id="inputCity" disabled="disabled"/>
                </div>
                <div class="col-md-4">
                    <label for="inputPhone">Phone</label>
                    <input type="text" class="form-control" placeholder="Phone" id="inputPhone" disabled="disabled"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label for="inputPhone">Email</label>
            <input type="text" class="form-control" placeholder="Email" id="inputemail" disabled="disabled"/>
        </div>
    </div>
</div>