<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-money">&nbsp;</i>Bills</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Codes</th>
                        <th>Items</th>
                        <th>Qty</th>
                        <th>Cost</th>
                        <th>Discount</th>
                        <th>Extra Cost</th>
                        <th>Tax</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tape</td>
                        <td>Gaffer Tape Black</td>
                        <td>2</td>
                        <td>$5000</td>
                        <td></td>
                        <td>$6000</td>
                        <td>
                            <input type="checkbox" name="vehicle" value="Car">
                            <br>
                        </td>

                    </tr>
                    <tr>
                        <td>Tape</td>
                        <td>Gaffer Tape Black</td>
                        <td>2</td>
                        <td>$5000</td>
                        <td></td>
                        <td>$6000</td>
                        <td>
                            <input type="checkbox" name="vehicle" value="Car" checked>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Tape</td>
                        <td>Gaffer Tape Black</td>
                        <td>2</td>
                        <td>$5000</td>
                        <td></td>
                        <td>$6000</td>
                        <td>
                            <input type="checkbox" name="vehicle" value="Car" checked>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Tape</td>
                        <td>Gaffer Tape Black</td>
                        <td>2</td>
                        <td>$5000</td>
                        <td></td>
                        <td>$6000</td>
                        <td>
                            <input type="checkbox" name="vehicle" value="Car" checked>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Tape</td>
                        <td>Gaffer Tape Black</td>
                        <td>2</td>
                        <td>$5000</td>
                        <td></td>
                        <td>$6000</td>
                        <td>
                            <input type="checkbox" name="vehicle" value="Car" checked>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank"> </td>
                        <td colspan="3" class="total-line">Subtotal</td>
                        <td class="total-value">
                            <div id="subtotal">$875.00</div>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="3" class="blank"> </td>
                        <td colspan="3" class="total-line">Total</td>
                        <td class="total-value">
                            <div id="total">$875.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank"> </td>
                        <td colspan="3" class="total-line">Amount Paid</td>

                        <td class="total-value">
                            <textarea id="paid">$0.00</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank"> </td>
                        <td colspan="3" class="total-line balance">Balance Due</td>
                        <td class="total-value balance">
                            <div class="due">$875.00</div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>