<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active"><a href="/bills/bills_list">Bills</a> 
            </li>
            <li class="breadcrumb-item active">
                Edit
            </li>
            <!--  <button class="btn btn-primary btn-sm pull-right breadcrumb-button">Add New Product</button> -->
        </ol>
        <%= render :partial => "bills/form_edit"%>
    </div>
</div>
<br>
<br>
<br>

<style type="text/css">
    .panel.with-nav-tabs .panel-heading {
        padding: 5px 5px 0 5px;
    }
    
    .panel.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }
    
    .panel.with-nav-tabs .nav-justified {
        margin-bottom: -1px;
    }
    /*.products-general-info{
                min-height: 497px;
                max-height: 497px;
}
.products-barcodes{
                min-height: 300px;
                max-height: 300px;
}
.product-pricing{
                min-height: 229px;
                max-height: 229px;
}
.product-rental-cost{
                max-height: 199px;
                min-height: 199px;
}*/
</style>
<script type="text/javascript">
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>