<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/homes/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="/customers/customers_list">Customer List</a> 
        </li>
        <li class="breadcrumb-item active">
          Edit
        </li>
      </ol>
      <div class="row">
        <div class="col-12">
          <%= render :partial => "customers/form_edit"%>
        </div>
      </div>
  </div>
</div>
<br><br><br>
<style type="text/css">
    .panel.with-nav-tabs .panel-heading {
        padding: 5px 5px 0 5px;
    }
    
    .panel.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }
    
    .panel.with-nav-tabs .nav-justified {
        margin-bottom: -1px;
    }
    /*.products-general-info{
    min-height: 497px;
    max-height: 497px;
}
.products-barcodes{
    min-height: 300px;
    max-height: 300px;
}
.product-pricing{
    min-height: 229px;
    max-height: 229px;
}
.product-rental-cost{
    max-height: 199px;
    min-height: 199px;
}*/
</style>
