<div class="content">
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputAddress 1">location</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit-button" placeholder="" id="inputLocation" id="button_click" disabled="disabled" required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputType">Attn </label>
                <input type="text" class="form-control edit-button" placeholder="" id="inputAttn" id="button_click" disabled="disabled" />
            </div>
          </div>
          <div class="col-sm-12">
             <div class="form-group col-sm-6">
                <label for="inputCountry">Name</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputName" disabled="disabled"
                required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputCity">Address 1</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputAddress1"  disabled="disabled" required="" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputCountry Terms">Address 2</label>
                <input type="text" class="form-control edit_button" placeholder="" id="inputAddress2"  disabled="disabled"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone">City/St/Zip</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputCity"  disabled="disabled" required="" />
            </div>
         </div>
         <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputPhone">Country</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputCountry"  disabled="disabled" required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone">Phone</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="number" id="inputPhone"  disabled="disabled" required="" />
            </div>
        </div>
   </div>



