<div class="content">
  <div class="row">
    <div  id="bill_customer" style="padding: 10px;">
    </div>
    <!-- <div class="col-sm-3" style="padding: 21px 0 0px 30px;">
      <a class="list-add-address" id="add-address" data-toggle="modal" data-target="#bill_new_address" href="#" data-remote="true">
        <div class="row white-row add-new-address"><i class="fa fa-plus-circle" style="font-size: 53px;margin-top: 10%;"></i><br>Add new address</div>
      </a>
    </div> -->
  </div>
</div>

<% @general_order.build_order_bill_to  if @general_order.order_bill_to.blank? %>
<%= t.fields_for :order_bill_to do |ff|%>
  <%= ff.hidden_field :customer_location_id, :class=>"chul" %>
<%end%>

<div id="bill_new_customer"></div>

<script type="text/javascript">
  $(document).on('turbolinks:load',function() {
    $('#add-address').click(function(){
      var url = '/customers/get_customer_new_addrs';
      $.ajax({
          type: "get",
          url: url,
          data: {
              "customer_id" : $("#select_customer").val()
          }
      })
    });
  });
</script>
<style type="text/css">
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.slider.list a.list-add-address {
  display: inline;
}
a.list-add-address .white-row.add-new-address {
    display: inline-block;
    height: 230px;
    width: 100%;
    margin-right: 15px;
    margin-bottom: 17px;
    vertical-align: top;
    border: 1px dashed #ccd2d5;
    border-radius: 4px;
    position: relative;
    text-align: center;
    text-transform: none;
    padding-left: 0;
    font-weight: 600;
    background: #fff;
}
.white-row.add-new-address {
    color: #535766;
    font-size: 16px;
    padding: 20px 0 20px 10px;
}
.address-row {
    display: inline-block;
    height: 230px;
    width: 100%;
    margin-right: 25px;
    vertical-align: top;
    position: relative;
}
  .selected {
    background: #f4fdfb;
    border: 1px solid #b9f0e5;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    padding-top: 25px;
    padding-left: 45px;
    box-shadow: 0 0 4px rgba(40,44,63,.08);
  }
  .address-row .name {
    font-weight: 600;
    font-size: 15px;
    color: #596062;
    padding-left: 0;
    white-space: nowrap;
  }
  .address-row .select {
    width: 20px;
    height: 20px;
    background-position: -551px 0;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 4250px 153px;
    vertical-align: middle;
    /*background-image: url("<%#=asset_path('click.jpg')%>");*/
  }
  .address-row .select {
    left: 14px;
    top: 23px;
  }
  .address-row .select {
    position: absolute;
    /*background: url("<%#=asset_path('click.jpg')%>") -576px 0/4250px 153px no-repeat;*/
    border: none;
  }
  .address-row.selected .side-menu {
    border-top: 1px solid #f5f5f6;
    margin-top: 0;
    height: 40px;
    padding-top: 0;
  }
  .address-row.selected .side-menu {
    visibility: visible;
    text-align: center;
    bottom: 0;
  }
  .address-row .side-menu {
    position: absolute;
    left: 20px;
    right: 0;
  }
  .address-row.selected .side-menu button {
    padding: 1px!important;
    text-transform: none;
    height: 33px;
    text-align: left;
  }
  .address-row .side-menu button.delete {
    border-right: none;
    font-size: 14px;
    width: 45%;
  }
  .address-row.selected .side-menu button {
    font-weight: 600;
  }
  .address-row .side-menu button {
    display: inline-block;
    border: none;
    background: 0 0;
  }
  .address-row .side-menu button.edit {
    color: #526cd0;
    font-size: 14px;
    width: 32%;
  }
  .address-row .address {
    padding-left: 0;
    padding-top: 10px;
  }
  .address-row.selected .address .address-content {
    white-space: normal;
  }
  .address-row .address .address-content {
    color: #535766;
    line-height: 1.4;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .address-row .address .address-content .address-field {
    max-height: 52px;
    overflow: hidden;
    display: block;
  }
  .address-row .address .address-content .address-field, .address-row .address .address-content .local {
    white-space: nowrap;
    min-width: 23em;
    text-overflow: ellipsis;
  }
  .address-row .address .address-content .locality {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    height: 17px;
  }
  .address-row .address .address-content .mob {
    padding: 8px 0;
  }
  .address-row .address .address-content .mobile {
    font-weight: 600;
  }
  .address-row .name .address-type {
    float: right;
    font-size: 10px;
    padding: 2px 10px;
    border: 1px solid #d5d6d9;
    border-radius: 20px;
    color: #94969f;
    margin-right: 10px;
  }
</style>