<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div class="control-group">
            <!-- provider -->
            <label class="control-label" for="provider">Subtotal cost</label>
            <div class="controls">
                <input type="text" id="provider" name="provider" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Shipping cost</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Total</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Subtotal</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- expires-->
            <label class="control-label" for="expires">Shipping</label>
            <div class="controls">
                <input type="text" id="expires" name="expires" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Total</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Profit</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <!-- Coverage -->
            <label class="control-label" for="coverage">Profit Margin</label>
            <div class="controls">
                <input type="text" id="coverage" name="coverage" placeholder="" class="input-xlarge">
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="control-group">
           
            <div class="controls">
                <button class="btn btn-info">save</button>
            </div>
        </div> -->
    </fieldset>
</form>