<div class="row">
<div>
<button class="btn btn-info"><i class="fa fa-plus"></i></button>
</div>
<div class="table-responsive">
<table>
  <tr>
    <th>Services</th>
    <th>Drop Ship</th>
    <th>Weight</th>
    <th>Length</th>
    <th>Width</th>
    <th>Height tracking number</th>
    <th>Cost</th>
    
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
   
  </tr>
  <tr>
    <td>Ernst Handel</td>
   <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    
   
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
   <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    
   
  </tr>
  
</table>
	</div>
</div>
<style type="text/css">
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
<script type="text/javascript">
    // Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});

</script>