<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-money">&nbsp;</i>Description
   </div>
   <div class="card-body">
      <div class="table-responsive">
            <tbody>
               <tr> 
                  <td>
                     <textarea class="form-control" name="Taskmanager[task_description]" id="inputDescription"></textarea>
                     <br>
                  </td>
                  <td>
                    <textarea class="form-control" name="Taskmanager[task_description]" id="inputImage"></textarea>
                     <br>
                  </td>
               </tr>
            </tbody>
        </div>
       <div class="col-lg-10">
         <div id='calendar'></div>
      </div>
   </div>
</div>
 

<style type="text/css">
    .text_name:hover{
    color: #fff !important;
    background-color: #00BCD4 !important;
}
.img-responsive{
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
}
.fc-day-grid-container{
  height: 230px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.fc-view-container{
  margin-top: -14px !important;
}
.fc-header-toolbar{
  background-color: #00BCD4;
  color: #fff;
  height: 45px;
  text-align: center;
}
.fc-unthemed td.fc-today {
  background-color: #8299E2 !important;
  border-color: #8299E2 !important;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  /*padding: 10px;*/
  }
.fc-sun { 
  color:red;
  font-weight: 600;
  }
.fc-row {
    min-height: 3em !important;
    height: 30px !important;
}
.fc-event-container{
  text-align: center !important;
  text-transform: capitalize;
}
.fc-event {
  color: #fff !important;
  font-weight: 600;
}
/*.fc-event:hover {
  background-color: #38EE3D !important;
  border-color: #38EE3D !important;
  color: #fff !important;
}*/
</style>

<script type="text/javascript">
$(document).ready(function() {
  // alert("Hello");
   $("#calendar").fullCalendar({
     editable: true,
     forceEventDuration: true,
     eventLimit: true,
     header: {
     left: "prev,next today",
     center: "title",
     right: "month,agendaWeek,agendaDay",
     defaultView: "month",
     height: 500,
     // slotMinutes: 15,
     dragOpacity: "0.5" 
   },
       // an option!
  });
});
</script>