<div class="content">
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputAddress 1">location</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputLoc" disabled="disabled" required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputType">Attn </label>
                <input type="text" class="form-control edit_button" placeholder="" id="inputAtn" disabled="disabled"/>
            </div>
           </div>
           <div class="col-sm-12">
             <div class="form-group col-sm-6">
                <label for="inputCountry">Name</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputNam" disabled="disabled" required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputCity">Address 1</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputAddress0" disabled="disabled" required="" />
            </div>
         </div>
         <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputCountry Terms">Address 2</label>
                <input type="text" class="form-control edit_button" placeholder="" id="inputAddress01" disabled="disabled"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone">City/St/Zip</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputCty" disabled="disabled" required="" />
            </div>
        </div>
            <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label for="inputPhone">Country</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="" id="inputCtry" disabled="disabled" required="" />
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone">Phone</label>
                <span class="required_field">*</span>
                <input type="text" class="form-control edit_button" placeholder="number" id="inputPh" disabled="disabled" required="" />
            </div>
        </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".edit_button").click(function(){
      //alert("hello");
      $(".edit-field").prop("readonly", false);
      $(".edit-field").prop("disabled", false);
    });
  });
</script>