<!-- https://foundation.zurb.com/building-blocks/blocks/bar-graph.html -->
<div class="container-fluid">
<div class="container">
<div class="row">
<div class="col-md-4 " style=" box-shadow: 0 1px 21px #acacac;">
 <h1>Reports</h1>
 <ul><b class="list">
   <li><a href="#">Customers</a></li>
   <li><a href="#">Orders</a></li>
   <li><a href="#">Products</a></li>
   <li><a href="#">Sales</a></li>
   <li><a href="#">Vendors</a></li></b>
 </ul>
  
</div>
<div class="col-md-8 ">

<ul class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">80%</div>
    <div class="bar-graph-label">60%</div>
    <div class="bar-graph-label">40%</div>
    <div class="bar-graph-label">20%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  <li class="bar primary" style="height:90%;" title="95">
    <div class="percent">95<span>%</span></div>
    <div class="description">Yetis</div>
  </li>
  <li class="bar secondary" style="height: 80%;" title="90">
    <div class="percent">90<span>%</span></div>
    <div class="description">ZURBians</div>
  </li>
  <li class="bar success" style="height: 70%;" title="80">
    <div class="percent">80<span>%</span></div>
    <div class="description">Cows</div>
  </li>
  <li class="bar warning" style="height: 65%;" title="75">
    <div class="percent">75<span>%</span></div>
    <div class="description">Cows that think they're Yetis</div>
  </li>
  <li class="bar alert" style="height: 30%;" title="40">
    <div class="percent">40<span>%</span></div>
    <div class="description">Who knows</div>
  </li>
</ul>
</div>
</div>
   <div class="row">
   <div class="col-md-6" style="box-shadow: 0 1px 21px #acacac; margin-top: 29px; margin-bottom: 20px;">
   <h1>Charts</h1>
   <p><b>Product Sales(by month)</b></p>
    <p><b>Product Sales(comparision Bar)</b></p>
    <p><b>Product Sales(comparision pie)</b></p> 
   </div>
     
   
   <div class="col-md-6" style="margin-top: 10px; ">
   <form>
      <div id="contact-form" class="form-container" data-form-container>
      <div class="row">
        <div class="form-title">
          <span>Criteria</span>
          <p>Find reports using below criteria</p>
        </div>
      </div>
      <div class="input-container">
        <div class="row">
          <span class="req-input" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Start date!!"> </span>
            <input type="text" placeholder="Start Date">
          </span>
        </div>
        <div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="End date!!"> </span>
            <input type="text" placeholder="End Date">
          </span>
        </div>
        <div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Product code."> </span>
            <input type="text" placeholder="Product Code">
          </span>
        </div>
        
        <div class="row submit-row">
          <button type="button" class="btn btn-info submit-form">Run Report</button>
        </div>
      </div>
      </div>
      </form>
     
   </div></div>

</div></div><br><br>

<style type="text/css">
h1{
  text-align: center;
  /*color:#1779ba;*/
}
ul .list{
  font-size: 19px;
  
}
p{
  font-size: 19px;
  color:#1779ba;
}
  
.bar-graph {
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  -webkit-flex: 1 1 8%;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #8a8a8a;
  position: relative;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
  /*.bar-graph{
    width:459px;
  }*/
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

@media (min-width: 1200px){
  .container{
    width:75%;
    margin-left: 281px;
  }
}
/*@media (min-width: 768px){
  .bar-graph{
    width: 308px;
  }
  }*/

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
}

.bar-graph .bar.primary {
  border: 1px solid #1779ba;
  background: linear-gradient(#2196e3, #1779ba 70%);
}

.bar-graph .bar.secondary {
  border: 1px solid #767676;
  background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
  border: 1px solid #3adb76;
  background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
  border: 1px solid #ffae00;
  background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}
/*
form*/
.form-container div, .form-container  span{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

}

.form-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}

.form-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}

.form-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}

.form-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}

.form-container :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:  #999;
}

.oauth-buttons {
    text-align:center;
}

#login-form{
 min-width:375px;   
}
.login-container{
  width:400px;
  height:330px;
  display:inline-block;
  margin-top: -165px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -200px;
}
.form-container .create-account:hover{
  opacity:.7;
}
.form-container .create-account{
  color:inherit;
  margin-top: 15px;
    display: inline-block;
  cursor:pointer;
  text-decoration:none;
}

.oauth-buttons .fa{
  cursor:pointer;
  margin-top:10px;
  color:inherit;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  margin:5px;
  margin-top:15px;
}
.oauth-buttons .fa:hover{
  color:white;
}


.form-container .req-input .input-status {
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;  
}
.form-container .input-status::before{
  content: " ";
  height:20px;
  width:20px;
  position:absolute;
  top:10px;
  left:10px;
  color:white;
  border-radius:50%;
  background:white;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
}

.form-container .input-status::after{
  content: " ";
  height:10px;
  width:10px;
  position:absolute;
  top:15px;
  left:15px;
  color:white;
  border-radius:50%;
  background:#00BCD4;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-container .req-input{
  width:100%;
    float:left;
  position:relative;
  background:#00BCD4;
  height:40px;
  display:inline-block;
  border-radius:0px;
  margin:5px 0px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-container div .row .invalid:hover{
  background:#EF9A9A;
}

.form-container div .row .invalid{
  background:#E57373;
}

.form-container .invalid .input-status:before {
  width:20px;
  height:4px;
  top:19px;
  left:10px;
  background:white;/*#F44336;*/
  border-radius:0px;
   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.form-container .invalid .input-status:after {
  width:20px;
  height:4px;
  background:white;
  border-radius:0px;
  top:19px;
  left:10px;
   -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.form-container div .row  .valid:hover{
  background:#A5D6A7;
}

.form-container div .row .valid {
  background:#81C784;
  
}

.form-container .valid .input-status:after {
  border-radius:0px;
    width: 17px;
    height: 4px;
    background: white;
    top: 16px;
    left: 15px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-container .valid .input-status:before {
  border-radius:0px;
    width: 11px;
    height: 4px;
  background:white;
    top: 19px;
    left: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-container .input-container{
  padding:0px 20px;
}

 .form-container .row-input{
  padding:0px 5px;
}

.form-container .req-input.input-password{
  margin-bottom:0px;
}
.form-container .req-input.confirm-password{
  margin-top:0px;
}

.form-container {
  margin:20px;
  padding:20px;
  border-radius:0px;
  background:#B3E5FC;
  color:#00838F;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-container .form-title{
  font-size:25px;
  margin-left: 60px;
  color:inherit;
  text-align:center;
  margin-bottom:10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-container .submit-row{
  padding:0px 0px;
}

.form-container .btn.submit-form{
  margin-top:15px;
  padding:12px;
  background:#00BCD4;
  color:white;
  border-radius:0px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-container .btn.submit-form:focus{
  outline:0px;
  color:white;
}

.form-container .btn.submit-form:hover{
  background:#00cde5;
  color:white;
}

.form-container .tooltip.top .tooltip-arrow {
  border-top-color:#00BCD4 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-arrow {
  border-top-color:#E57373 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner::before{
  background:#E57373;
}
.form-container .tooltip.top.tooltip-invalid .tooltip-inner{
  background:#FFEBEE !important;
  color:#E57373;
}

.form-container .tooltip.top.tooltip-valid .tooltip-arrow {
  border-top-color:#81C784 !important;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner::before{
  background:#81C784;
}
.form-container .tooltip.top.tooltip-valid .tooltip-inner{
  background:#E8F5E9 !important;
  color:#81C784;
}

.form-container .tooltip.top .tooltip-inner::before{
  content:" ";
  width:100%;
  height:6px;
  background:#00BCD4;
  position:absolute;
  bottom:5px;
  right:0px;
}
.form-container .tooltip.top .tooltip-inner{
  border:0px solid #00BCD4;
  background:#E0F7FA !important;
  color:#00ACC1;
  font-weight:bold;
  font-size:13px;
  border-radius:0px;
  padding:10px 15px;
}
.form-container .tooltip {
  max-width:150px;
  opacity:1 !important;
}

.form-container .message-box{
  width:100%;
  height:auto;
}

.form-container textarea:focus,.form-container textarea:hover{
  background:#fff;
  outline:none;
  border:0px;
}

.form-container .req-input textarea {
  max-width:calc(100% - 50px);
    width: 100%;
    height: 80px;
    border: 0px;
    color: #777;
    padding: 10px 9px 0px 9px;
  float:left;
  
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus, .form-container input[type=tel]:focus, .form-container select{
    background:#fff;
  color:#777;
  border-left:0px;
  outline:none;
}

.form-container input[type=text]:hover,.form-container input[type=password]:hover,.form-container input[type=email]:hover,.form-container input[type=tel]:hover, . form-container select{
  background:#fff;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=email],input[type=tel], form-container select{
  width:calc(100% - 50px);
  float:left;
  border-radius:0px;
  border:0px solid #ddd;
  padding:0px 9px;
  height:40px;
  line-height:40px;
  color:#777;
  background:#fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}






</style>