<div class="container2" style="box-shadow: 0 1px 31px #acacac; padding: 20px; width: 100%;">
<div class="row" >
<div class="col-md-12 col-sm-12 form">
<form class="form-inline">
<div class="form-group">
 <h3 class="text-center" style="color:skyblue; margin-bottom: 20px;margin-left: -106px;">Receiving Details</h3>
  Product SKU:
  <input type="text" name="product name">
  
  Barcode:
  <input type="text" name="barcode">

  Quality recvd:
  <input type="text" name="quality">

  Recv Date:
  <input type="text" name="date">
  </div>
</form>
  
</div>
</div>  </div>

<div class="container2" style="box-shadow: 0 1px 31px #acacac; padding: 20px; width: 100%; margin-top: 30px;">
<h3 class="text-center" style="color:skyblue; margin-bottom: 20px; ">Recent inventory events</h3>
<div class="row ulist" style="margin-top: 30px;" >

<div class="col-md-2 col-xs-4 date" >
 <h4>Date</h4>
 <ul class="res">
  <p>1/3/2018</p>
  <p>2/4/2018</p>
  <p>1/3/2018</p>
  <p>2/4/2018</p>
  <p>1/3/2018</p>
  <p>2/4/2018</p>
 </ul>
  
  </div>
  <div class="col-md-2 col-xs-4 des">
 <h4>Description</h4>
 <ul class="res">
  <p>hfjdfs</p>
  <p>dnhkj</p>
  <p>hfjdfs</p>
  <p>dnhkj</p>
  <p>hfjdfs</p>
  <p>dnhkj</p>
 </ul>
  
  </div>
  <div class="col-md-3 col-xs-4 qua" >
 <h4>Quantity</h4>
 <ul class="res">
  <p>2</p>
  <p>5</p>
  <p>2</p>
  <p>5</p>
  <p>2</p>
  <p>5</p>
 </ul>
  
  </div>


  
</div>
</div>

<div class="container2" style="box-shadow: 0 1px 31px #acacac; padding: 20px; width: 100%; margin-top: 30px;">
<h3 class="text-center" style="color:skyblue; margin-bottom: 20px; ">POs Bills with status of "Ordered"</h3>
<div class="row " style="margin-top: 30px;" >

<div class="col-md-4 col-xs-4">
<table>
  
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
</table>
</div>

<div class="col-md-offset-2 col-xs-4">
<table>
    
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
 
  
</table>

</div>
</div>

</div><br><br>
<br><br><br>



<style type="text/css">

.col-md-12,.col-sm-12,.form{
      margin-left: 244px;
}
 h3 .text-center{
    margin-left: 80px;
  }
  .date{
    margin-left: 263px;
  }
  .des{
    margin-left: 40px;
  }
  .qua{
    margin-left: 140px;
  }
  .res{
    margin-left: -30px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 244px;
}

 th {
    
    text-align: left;
    padding: 8px;
}
  @media (min-width: 1200px){
    .ulist{
      overflow-y: scroll;
      height: 100px;
    }
}
@media screen and (max-width: 700px) {
.col-md-12,.col-sm-12,.form{
    margin-left: 111px;
  }
  h3 .text-center{
    margin-left: 10px;
  }
  .date{
    margin-left: 0px;
  }
  .des{
    margin-left: -2px;
  }
  .qua{
    margin-left: -1px;
  }
  .ulist{
      overflow-y: scroll;
      height: 100px;
    }
    .res{
      margin-left: -29px;
    }
}
input{
  margin-bottom: 20px;
}
</style>


